.landing-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 5%;
  gap: 2%;
  max-width: 1100px;
  /* border: 2px solid green */
}

.tree-image {
  height: 40vh;
}

.landing-page-left {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* border: 2px solid red; */
  font-family: 'Lato', sans-serif;
  width: 50%;
  color: #3a3f54;
  font-size: 2.5vh;
}

.landing-page-right {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
  width: 50%;
}

.landing-page-bold-text {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 4vh;
}

.get-started-button {
  background-color: rgb(224, 122, 95);
  height: 4vh;
  font-size: 2vh;
  width: fit-content;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 16px;
  width: 30%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  min-width: fit-content;
}

.get-started-button:hover {
  transition: 300ms;
  background-color: #6e3e2e
}

.landing-page-divider {
  width: 7%;
  margin: 2%;
  border-bottom: 6px solid rgb(30, 164, 116);
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.landing-page-roles-container {
  display: flex;
  /* border: 2px solid red; */
  width: 90%;
  max-width: 1100px;
  height: 75%;
  gap: 2%;
  font-size: 2vh;
  text-align: center;
  color: #3a3f54;
}

.landing-page-explainer-container {
  height: 400px;
  width: 100vw;
  background-color: #eaedef;
}

.landing-page-roles-left {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.landing-page-roles-right {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.home-image {
  height: 4vh;
  /* margin: 1%; */
  padding: 2%;
  /* filter: grayscale(100%) hue-rotate(9deg); */
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

