.width {
  width: 100%;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
}

.form-thead {
  background-color: #f2f2f2;
  font-weight: bold;
}

.form-thead th:first-child,
.form-thead th:nth-child(2),
.form-thead th:nth-child(3) {
  width: fit-content;
  max-width: 100px;
  white-space: nowrap;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.form-thead th:last-child {
  width: 100%;
  padding: 10px;
}

.form-table td {
  border: none;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.form-table td:last-child {
  text-align: left;
  border-right: none;
  width: 20px;
border: 2px solid green
}

.form-table button {
  background-color: #e53935;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.form-table button:hover {
  background-color: #c62828;
}
